<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading" style="background-color: rgb(0, 119, 255); color:cornsilk;">Routing Example</div>
    <div class="list-group list-group-flush">
      <a routerLink="/" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a routerLink="/about" class="list-group-item list-group-item-action bg-light">About</a>
      <a routerLink="/contact" class="list-group-item list-group-item-action bg-light">Contact</a>
    </div>
</div>